numpy==1.11.2
cython==0.25.2
pytest==2.8.7
pytest-runner
scipy==0.18.1
matplotlib==1.5.3
scikit-image==0.12.3
scikit-learn==0.18
librosa==0.4.3
sqlalchemy==1.2.10
pandas==0.19.0
protobuf==3.1.0
seaborn==0.7.1
setproctitle==1.1.10
tensorflow==0.12.0
terminado==0.6
tqdm==4.9.0
python-gflags==3.1.2
configparser==3.5.0
requests==2.19.1
lxml==4.9.1
obspy==1.0.2 
EQcorrscan==0.1.6
-e git+https://github.com/gem/oq-hazardlib.git@589fa31ddca3697e6b167082136dc0174a77bc16#egg=openquake.hazardlib


