numpy==1.21.0
cython==0.25.2
pytest==2.8.7
pytest-runner
scipy==0.18.1
matplotlib==1.5.3
scikit-image==0.12.3
scikit-learn==0.18
librosa==0.4.3
pandas==0.19.0
protobuf==3.1.0
seaborn==0.7.1
setproctitle==1.1.10
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.0-cp27-none-linux_x86_64.whl
terminado==0.6
tqdm==4.9.0
python-gflags
configparser
requests
sqlalchemy
arvei/lxml-3.4.4-cp27-none-linux_x86_64.whl
obspy==1.0.2
EQcorrscan==0.1.6
arvei/Shapely-1.6.4.post2-cp27-none-linux_x86_64.whl
-e git+https://github.com/gem/oq-hazardlib.git@589fa31ddca3697e6b167082136dc0174a77bc16#egg=openquake.hazardlib

